.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

/* Light Theme */
.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
.dark {
  background-color: #121212;
  color: #ffffff;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}
